// # SCSS variables
// all the SCSS variables are defined in this file

// ## navigation colors
$nav-background: #333;
$nav-text-color: white;

// ## panel colors
$warning-color: #ff6868;
$info-color: #ffb15e;

// ## output block
$output-block-color: #efefef;

// ## clipboard
$clipboard-color: #3ca7ec;
$clipboard-color-dark: #1977b5;
