.code-output {
  margin-bottom: 10px;

  h4 {
    margin-top: 20px;
  }
  .block {
    background-color: $output-block-color;
    padding: 20px;
    white-space: pre-wrap;
  }
  .fields {
    font-weight: 400;
    padding-bottom: 1px;
    font-size: 14px;
  }
  .warning {
    background-color: $warning-color;
    color: white;
    font-weight: 700;

  }
  .info {
    background-color: $info-color;
    color: white;
    font-weight: 700;
  }
  .clipboard {
  	background-color: $clipboard-color;
  	display:inline-block;
  	cursor:pointer;
  	color: white;
  	padding:7px 20px;
  	text-decoration:none;
    text-align: center;
  }
  .clipboard:hover {
  	background-color: $clipboard-color-dark;
  }
}
